.header{
    width:100%;
    display: flex;
    position: fixed;
    padding: 10px;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background-color: black;
}
.header_nav{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.header_logo{
    width:80px;
    object-fit: contain;
    cursor: pointer;

}

.header_avatar{
    width:35px;
    object-fit: contain;
    cursor: pointer;
}
.right {
    width: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_alarm_contain{
    position: relative;

}
.header_alarm{
    height: 35px;
    background-color: white;

}
.header_alarm_count{
    position: absolute;
    top: -2px;
    right: -1px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}